body{
margin:0px;
padding:0px;
background:;
}

.body_page{
max-width:75%;
margin:10px auto;
min-height:500px;
background:;
border-radius:8px;
border:1px solid #E6E6FA;
}

.login{
margin-top:10px;
padding:2px 10px;
}

.signup{
padding-left:35px;
}

.signup form{
margin-bottom:10px;
padding:2px 5px;
}
.warninginfo{
padding:;
text-align:center;
color:#F20C1D;
font-style:italic;
}
.importantinfoOrAnimation{

padding:20px;
border-radius:10px;
border:1px solid #BFBFBF;
height:360px;

}
.importantinfoOrAnimation p{
margin-top:20px;
color:#1E90FF;
}
.importantinfoOrAnimation h5{
color:#4D4D4D;
font-size:16px;
font-style:italic;
}
.headerforsignup{
color:blue;
font-weight:bold;
font-size:16px;
padding:5px 15px 10px 10px;
max-width:50%;
margin:auto;
}

.myFooter{
text-align:center;
}

.navigation{
margin:3px 3px 6px 3px;

}

.form-search{
padding:5px 0px 0px 2px;
}

.useInformation{
padding:7px 4px;
margin-right:3px;
}

.asideNavigation{
padding:5px 7px;
}
.loginUserContents{
margin-top:15px;
}
.comments{
overflow-y:scroll;
height:200px;
}
.statusLog{
overflow-y:scroll;
height:300px;

}
.emptyProject{
min-height:270px;
}
.emptyIssues{
min-height:270px;
}
.profile{
margin:5px;
padding:2px;
background:#E5E5E5;
border-radius:5px;
}
.profile table{
margin:5px;
}
.profile h5{
text-align:center;
}

.addCollaborator h5{
text-align:center;
}

.addCollaborator form{
border:1px solid #E5E5E5;
padding:10px;
padding-top:20px;
margin:5px;
border-radius:7px;
}
.collaboratorList{
border:1px solid #E5E5E5;
padding:10px;
margin:5px;
border-radius:7px;
}

.signupForm{
border:1px solid red;
padding:10px;
margin:5px;
border-radius:7px;
}





