{% extends "base.html" %}
{% block container %}

<!-- login form and signup form for new user -->

<div class="navbar navigation">  
  <div class="navbar-inner">  
    <div class="container-fluid"> 
		
		<a class="brand" href = "#">Project name</a>  

		<div class = "row-fluid">
			<div class = "login">		
				<!-- login form -->
				<span class = "pull-right">
					<form class="form-inline"  action ="{% url 'login' %}" method = "POST" >
						{% csrf_token %}
						<input type="text" id = "emaillogin" onblur = "return chechEmailLogin()" name = "email" class="input-medium" placeholder="Your e-mail">
						<input type="password" name = "password" class="input-medium" placeholder="Your password">						  
					    <input type="submit" value = "sign in " class = "btn">				  
					</form>			
				</span>
				<!--
				<span class = "pull-right">
					Today is :&#160;<em>{% now "jS F Y" %}</em>&#160;&#160;		
				</span> -->


			</div>	
		</div>
	</div>
 </div>
</div>

	<!--- end log in form and date for the page-->
	
	<div class = "warninginfo">		
		<marquee behavior="alternate" scrollamount="3">{{word}}</marquee>		
	</div>
	<!-- sign up form and some important issues to the new user of syatem-->
	<div class = "row-fluid signup">
		<!--important info-->
		<div class = "span6 importantinfoOrAnimation">
			<p>
				important infos or logs or animations for the site
			</p>

		</div>

		<!-- signup form -->
		<div class = "span6 ">
			<div class = "headerforsignup">For new users to sign up</div>
			<form class="form-horizontal"  method = "POST" action="{% url 'signUp' %}" name = "myform" onsubmit ="return validateForm()" >
				{% csrf_token %}
				<div class="control-group">
					<label class="control-label pull-right" for="first name">First name </label>	
					<div class="controls">
						<input type="text" name="firstName" placeholder="First name" class = "required" >
					</div>			
				</div>

				<div class="control-group">
					<label class="control-label" for="middle name">Middle name </label>	
					<div class="controls">
						<input type="text" name="middleName" placeholder="Middle name">
					</div>			
				</div>

				<div class="control-group">
					<label class="control-label" for="last name">Last name </label>	
					<div class="controls">
						<input type="text"  name="lastName" placeholder="Last name" class = "required">
					</div>			
				</div>

				<div class="control-group">
					<label class="control-label"  for="email">E-mail </label>	
					<div class="controls">
						<input type="text" id ='email' onblur = "return chechEmail()" name="email" placeholder="example@xwys.com" class = "required" >
					</div>	
				</div>	
					
				<div class="control-group">
					<label class="control-label" for="password">Password </label>	
					<div class="controls">
						<input type="password" name="password" placeholder="password" class = "required">
					</div>			
				</div>			

				<div class="control-group">
					<label class="control-label" for="mobile number">Mobile number </label>	
					<div class="controls">
						<input type="text" name="mobileNumber" placeholder="+255 687 168 637">
					</div>			
				</div>

				<div class="control-group">
					<div class="controls">
						<input type="submit" value = "Sign up " class = "btn" >
					</div>			
				</div>				

			</form>			
		</div>
	</div>



{% endblock %}
