{% extends "base.html" %}
{% block container %}

<!-- login form and signup form for new user -->

<div class="navbar navigation">  
  <div class="navbar-inner">  
    <div class="container-fluid"> 
				  
		<div class = "row-fluid">
			<a class="brand" href = "#">Issues Management System</a>
			<div class = "login">		
				<!-- login form -->
				<span class = "pull-right">
					<form class="form-inline"  action ="{% url 'login' %}" method = "POST" >
						{% csrf_token %}
						<input type="text" id = "emaillogin" onblur = "return chechEmailLogin()" name = "email" class="input-medium" placeholder="Your e-mail">
						<input type="password" name = "password" onpaste="return false;"  class="input-medium" placeholder="Your password">						  
					    <input type="submit" value = "sign in " class = "btn">						   			  
					</form>	<!--
					<div class = "newpassword ">
						<a href = "#">Forgot password?</a>
					</div>	-->	
				</span>
			</div>	
		</div>
	</div>
 </div>
</div>

	<!--- end log in form and date for the page-->
	
	<div class = "warninginfo" style = "max-width:90%; margin:auto;">		
		<marquee behavior="alternate" scrollamount="3">{{word}}</marquee>		
	</div>
	<!-- sign up form and some important issues to the new user of syatem-->
	<div class = "row-fluid signup">
		
		<!--important info-->
		<div class = "span5 hidden-phone">
			
			<div class  = "well importantinfoOrAnimation event1">
				<br><br>
				<h5>Welcome to Issues management System.....!!!</h5><br>				
				<p>* login if  registered users</p>				   
				<p>* sign up for new user</p>
				<p>E- mail notifications</p>		
			</div>
			
			<div class  = "well importantinfoOrAnimation event2">
				<br>								
				<p>create new project</p>
				<p>add collaboration for a given project</p>
				<p>list all projects you responsible</p>
				<p>team work in project development is our priority</p>
				
				
			</div>
			
			<div class  = "well importantinfoOrAnimation event3">
				<br>
				<p>create issue on a project and assign to user</p>
				<p>comment on issue </p>
				<p>notification upon issue creation and assignment or any comment</p>
			
			</div>
			
			<div class  = "well importantinfoOrAnimation event4">
				<br>
				<p>For more info or help</p>
				<p>Mr. Joseh Chingalo,<br>
				System developer,<br>
				profschingalo@gmail.com<br>
				+255 687 168 637
				</p>
			
			</div>
		</div>

		<!-- signup form -->
		<div class = "span7 ">
			<div class = "well" style = "border-radius:10px;border:1px solid #BFBFBF;">
				<div >
					<p>
						<i>For new users of IMS, please complete regstration by filling all required fields.</i>
						<hr>
					</p>
				</div>
				<form class="form-horizontal" style = "text-align:justify;" method = "POST" action="{% url 'signUp' %}" name = "myform" onsubmit ="return validateForm()" >
					{% csrf_token %}
					<div class="control-group">
						<label class="control-label pull-right" for="first name">First name </label>	
						<div class="controls">
							<input type="text" name="firstName" placeholder="First name" class = "required" >
						</div>			
					</div>

					<div class="control-group">
						<label class="control-label" for="middle name">Middle name </label>	
						<div class="controls">
							<input type="text" name="middleName" placeholder="Middle name">
						</div>			
					</div>

					<div class="control-group">
						<label class="control-label" for="last name">Last name </label>	
						<div class="controls">
							<input type="text"  name="lastName" placeholder="Last name" class = "required">
						</div>			
					</div>

					<div class="control-group">
						<label class="control-label"  for="email">E-mail </label>	
						<div class="controls">
							<input type="text" id ='email' onblur = "return chechEmail()" name="email" placeholder="example@xwys.com" class = "required" >
						</div>	
					</div>	
						
					<div class="control-group">
						<label class="control-label" for="password">Password </label>	
						<div class="controls">
							<input type="password" id = "password" onpaste="return false;"  name="password" placeholder="password" class = "required">
						</div>			
					</div>
					
					<div class="control-group">
						<label class="control-label" for="password confirmation">Password confirmation </label>	
						<div class="controls">
							<input type="password" id = "passwordConfirmation" onpaste="return false;"  name="passwordConfirmation" placeholder="Re type password" class = "required">
						</div>			
					</div>	
					
					<div class="control-group">
						<label class="control-label" for="mobile number">Mobile number </label>	
						<div class="controls">
							<input type="text" name="mobileNumber" placeholder="+255 687 168 637">
						</div>			
					</div>
					
					<div class="control-group"><br>
						<p style ="text-align:justify; color:#0096FF;font-style:italic;">Re-type the number correctly if you are human not robot</p>
						<input class="control-label" type="text" id = "captchaConfimation" name="captcha" disabled value= "{{captureValue}}" >						
						<div class="controls">
							<input  type="text" id = "captcha" name="captcha" placeholder = "Type above number" >						
						</div>			
					</div>	<br>			
					

					<div class="control-group">
						<div class="controls">
							<input type="submit" value = "Sign up " class = "btn" >
						</div>			
					</div>				

				</form>			
			</div>				
		</div>
	</div>



{% endblock %}
