{% extends "base.html" %}
{% block container %}
<!-- login form and signup form for new user -->

<div class="navbar navigation">  
  <!-- login form and signup form for new user -->

	<div class="navbar navigation">  
	  <div class="navbar-inner">  
		<div class="container-fluid"> 
					  
			<div class = "row-fluid">
				<a class="brand" href = "#">Issues Management System</a>
			</div>
		</div>
	 </div>
	</div>
</div>


<!-- email for change new password  {% url 'forgetPassword' %} ---->

{%if contents == 'forgetPassword' %} 
<div class = "row-fluid" style = "margin-top:20px;" >	
	<div class = "well addCollaborator " style = "max-width:70%;margin:auto;">
		<h5>Request to change password</h5>
		<form class="form-horizontal" action = "{% url 'forgetPassword' %}" method = "POST"  onsubmit ="return newPasswordRequest()">
			{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="email Of User">Your e-mail </label>
				<div class="controls">
					<input type ="text" name = "emailForRequestNewPassword" id = "emailForRequestNewPassword" placeholder="type your email" class = "input-xlarge">					  
				</div>									
			</div>
			<div class = "control-group" >
				<div class="controls">						
					<input type = "submit"  value = "Request Change password" class = "btn">					  
				</div>
			</div>
		</form>	
	</div>
</div>
{% endif %}


{%if contents == 'changePassword' %} 
<div class = "row-fluid" style = "margin-top:20px;" >	
	<div class = "well addCollaborator " style = "max-width:70%;margin:auto;">
		<h5>welcome, {{user}}</h5>
		<p>Confirmation on change new change password</p>
		<form class="form-horizontal" action = "{% url 'changePassword' user.id %}" method = "POST"  onsubmit ="return changePassword() ">
			{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="new password">New Password</label>
				<div class="controls">
					<input type ="password" name = "newPassword" id = "newPassword" placeholder="type new password" class = "input-xlarge">					  
				</div>									
			</div>
			<div class="control-group">
				<label class="control-label" for="new password confirmation ">Confirm new password </label>
				<div class="controls">
					<input type ="password" name = "newPasswordConfirm" id = "newPasswordConfirm" placeholder="Confirm password" class = "input-xlarge">					  
				</div>									
			</div>
			<div class = "control-group" >
				<div class="controls">						
					<input type = "submit"  value = "Confirm Changes on Password" class = "btn">					  
				</div>
			</div>
		</form>	
	</div>
</div>

{% endif %}
	
{% endblock %}
