{% extends "user.html" %}

{% block functionalities_of_user %}
<div class = "loginUserContents">
	<div class = "span6">
		<!-- all projects for successfully login user -->
		{% if contents == 'allProjects' %}		
		<ol>
		{% for project in allProjects %}
		<div class = "well">
			<li>{{project.project_owner}}<br>{{project}}</li>
		</div>	
		{% endfor %}
		</ol>
		{% endif %}
		
		<!-- own projects -->
		{% if contents == 'ownProjects' %}
		<ol>
		{% for project in allProjects %}
		<div class = "well">
			<li>{{project.project_owner}}<br>{{project}}</li>
		</div>	
		{% endfor %}
		</ol>
		{% endif %}
		
		
		<!--	collaborated projects	-->
		{% if contents == 'collaboprojects' %}
		<ol>
		{% for project in allProjects %}
		<div class = "well">
			<li>{{project.project_owner}}<br>{{project}}</li>
		</div>	
		{% endfor %}
		</ol>
		{% endif %}
		
		<!-- all issues -->
		
		
		<!--assigned issues -->
		
		
		<!-- assign to issues -->
		
		<!-- edit profile -->
		
		
		
	</div>
</div>



{% endblock %}
