{% extends "base.html" %}

{% block container %}
<!-- navigation bar for users login in the system -->
<div class="navbar navigation">  
  <div class="navbar-inner">  
    <div class="container-fluid"> 
		
		<a class="brand" href="#">Issues Management System</a>  
		
		<!--  log out and user information--->		
		<span class = "pull-right useInformation">
			<a href= "{% url 'logout' user.id %}"><i class = "icon-off">&#160;logout</i></a>
	    </span>	
	    <span class = "pull-right useInformation">
			<i class = "icon-white icon-user">&#160;<i style = "color:#1E90FF;">welecome, </i>{{userName|title}}</i>&#160;					    
	    </span>    
    </div>  
  </div>  
</div>
<!-- end of navigation -->

<div class = "row-fluid">
	<!--navigation at side bar-->
	<div class = "span3">	
		<div class = "asideNavigation">
			<ul class="nav nav-list">
				<li class="nav-header"><i class = "icon-book">&#160;Projects</i></li>
				<li><a href= "{% url 'allProjects' user.id %}"><i class = "icon-list-alt">&#160;All projects</i> </a></li>
				<li><a href= "{% url 'ownprojects' user.id %}"><i class = "icon-list-alt">&#160;Own projects </i></a></li>
				<li><a href= "{% url 'collaboratedprojects' user.id %}"><i class = "icon-list-alt">&#160;Collaborated projects </i></a></li>	
			</ul>
			<ul class="nav nav-list">
				<li class="nav-header"><i class ="icon-tasks">&#160;Issues</i></li>
				<li><a href= "{% url 'allIssues' user.id %}"><i class = "icon-list-alt">&#160;</i>All issues </a></li>
				<li><a href= "{% url 'assignedIssues' user.id %}"><i class = "icon-list-alt">&#160;</i>Assigned issues </a></li>
				<li><a href= "{% url 'assignToIssues' user.id %}"><i class = "icon-list-alt">&#160;</i>Assign to issues </a></li>	
			</ul>
			<ul class="nav nav-list">
				<li class="nav-header"><i class = "icon-wrench">&#160;Management of projects</i></li>
				<li><a href= "{% url 'createProject' user.id %}"><i class ="icon-edit">&#160;Create project </i></a></li>
				<li><a href= "{% url 'search' user.id %}" ><i class ="icon-edit">&#160;Search and create issue </i></a></li>				
			</ul>
			<ul class="nav nav-list">
				<li class="nav-header"><i class = "icon-wrench">&#160;Setting</i></li>
				<li><a href= "{% url 'viewProfile' user.id %}"><i class ="icon-eye-open">&#160;View profile </i></a></li>
				<li><a href= "{% url 'editProfile' user.id %}"><i class ="icon-edit">&#160;Edit profile </i></a></li>				
				<li><a href= "{% url 'logout' user.id %}"><i class = "icon-off">&#160;logout</i></a></li>
			</ul>	
		</div>
		

	</div>
<!-- end of navigation at side bar -->

<!--contents of all functionalities for login user-->

{% block functionalities_of_user %}{% endblock %}
	
</div>


{% endblock %}
