{% extends "user.html" %}

{% block functionalities_of_user %}
<div class = "loginUserContents">
	<div class = "span9">
		
		<!--- ------- ---- projetct ----------------------------->
		
		<!-- all projects for successfully login user -->
		{% if contents == 'allProjects' %}		
		<ul class="nav nav-stacked nav-tabs">
			{% for project in allProjects %}
			<li style="text-align: left; padding: 6px; border-bottom-width: 2px;border-bottom-color:blue">
				<a href = "{% url 'singleProject' user.id project.id %}"><i class="icon-th"></i> {{ project.title|title }}
					<span class="pull-right">creaated on 						
						{{project.date_of_creation|date:"D d M Y"}}
					</span>
				</a>
			</li>
			{% endfor %}
		</ul>		
		{% endif %}
		
		<!-- own projects -->
		{% if contents == 'ownProjects' %}
		<ul class="nav nav-stacked nav-tabs">
			{% for project in allProjects %}
			<li style="text-align: left; padding: 6px; border-bottom-width: 2px;border-bottom-color:blue">
				<a href = "{% url 'singleProject' user.id project.id %}"><i class="icon-th"></i> {{ project.title|title }}
					<span class="pull-right">creaated on 						
						{{project.date_of_creation|date:"D d M Y"}}
					</span>
				</a>
			</li>
			{% endfor %}
		</ul>		
		{% endif %}
		
		
		<!--	collaborated projects	-->
		{% if contents == 'collaboprojects' %}
		<ul class="nav nav-stacked nav-tabs">
			{% for project in allProjects %}
			<li style="text-align: left; padding: 6px; border-bottom-width: 2px;border-bottom-color:blue">
				<a href = "{% url 'singleProject' user.id project.id %}"><i class="icon-th"></i> {{ project.title|title }}
					<span class="pull-right">creaated on 						
						{{project.date_of_creation|date:"D d M Y"}}
					</span>
				</a>				
			</li>
			{% endfor %}
		</ul>		
		{% endif %}
		
		
		
		<!--- ---------single project----------------------->
		{% if contents == 'singleproject' %} 
		<div class = "row-fluid">
			<!-- details for a given project -->
			
			
			<div class = "span8">
				<div class = "well">
					projects details					
				</div>				
			</div>
			<!-- for owner of projects -->
			{% if user == project.project_owner %}
			<div class = "span4">
				<ul class="nav nav-list">
					<li class="nav-header"><i class = "icon-wrench">&#160;setting for project</i></li>
					<li><a href= "#"><i class ="icon-user">&#160;Add new collaborator </i></a></li>
					<li><a href= "#"><i class ="icon-edit">&#160;Edit project </i></a></li>
					<li><a href= "#"><i class ="icon-edit">&#160;Assign issue </i></a></li>
					<li><a href= "#"><i class ="icon-remove">&#160;Delete project </i></a></li>
				</ul>					
			</div>
			{% else %}			
			<!-- for normal user of projects -->
			<div class = "span4">
				<ul class="nav nav-list">
					<li class="nav-header"><i class = "icon-wrench">&#160;setting for project</i></li>					
					<li><a href= "#"><i class ="icon-edit">&#160;Assign issue </i></a></li>
					<li><a href= "#"><i class ="icon-remove">&#160;Remove collaboration</i></a></li>
				</ul>					
			</div>
			{% endif %}
			
			
			
			
		</div>
		{% endif %}
		
		
		
		
		<!-- ----------- issues -------- ----->
		
		<!-- all issues -->
		{% if contents == 'allIssues' %} 
		<div class = "well">
			<table class="table table-striped">
				<thead>
					<th>Title</th>
					<th>disc</th>
					<th>priority</th>
					<th>type</th>														
				</thead>
				<tbody>
					{% for issue in allIssues %}					
					<tr>												
					<td>			
						<a href = "{% url 'singleIssue' user.id issue.id %}">#&nbsp;&nbsp;{{issue}}</a>						
					</td>
					<td>
						{{issue.description}}
					</td>
					<td>
						{{issue.priority}}
					</td>
					<td>
						{{issue.type_of_issue}}
					</td>											
					</tr>
					{% endfor %}									
				</tbody>
			</table>				
		</div>						
		{% endif %}
		
		<!--assigned issues -->
		{% if contents == 'assignedIssues' %}
		<div class = "well">
			<table class="table table-striped">
				<thead>
					<th>Title</th>
					<th>disc</th>
					<th>priority</th>
					<th>type</th>				
				</thead>
				<tbody>					
					{% for issue in assignedIssues %}					
					<tr>												
					<td>			
						<a href = "{% url 'singleIssue' user.id issue.id %}">#&nbsp;&nbsp;{{issue}}</a>								
					</td>
					<td>
						{{issue.description}}
					</td>
					<td>
						{{issue.priority}}
					</td>
					<td>
						{{issue.type_of_issue}}
					</td>						
					</tr>
					</ol>	
					{% endfor %}
													
				</tbody>
			</table>				
		</div>					
		{% endif %}
		
		<!-- assign to issues -->
		{% if contents == 'assignToIssues' %}
		
		<div class = "well">
			<table class="table table-striped">
				<thead>
					<th>Title</th>
					<th>disc</th>
					<th>priority</th>
					<th>type</th>				
				</thead>
				<tbody>
					<tr>
						{% for issue in assignToIssues %}
					<tr>												
					<td>			
						<a href = "{% url 'singleIssue' user.id issue.id %}">#&nbsp;&nbsp;{{issue}}</a>								
					</td>
					<td>
						{{issue.description}}
					</td>
					<td>
						{{issue.priority}}
					</td>
					<td>
						{{issue.type_of_issue}}
					</td>						
					</tr>
					</ol>	
					{% endfor %}
					</tr>									
				</tbody>
			</table>				
		</div>	
				
		{% endif %}
		
		<!--    single issue view ---->
		{% if contents == 'singleissue' %} 
		<div class = "well">
			ok single issue
		</div>
		{% endif %}
		
		
		
	</div>
</div>	
		
		
		<!-- edit profile -->
		
		
	



{% endblock %}
