{% extends "user.html" %}

{% block functionalities_of_user %}
<div class = "loginUserContents">
	<div class = "span9">
		
		<!--- ------- ---- projetct ----------------------------->
		
		<!-- all projects for successfully login user -->
		{% if contents == 'allProjects' %}
		{% if user.activationStatus == 'enable' %}
		{% if allProjects %}	
		<p style = "max-width:90%;text-align:justify;margin:auto;color:#1E90FF;;">List of all projects</p>	
		<!--  for desktop view -->	
		<ul class="nav nav-stacked nav-tabs visible-desktop">			
			{% for project in allProjects %}
			<li style="text-align: left; padding: 3px; border-bottom-width: 2px;border-bottom-color:blue">
				<a href = "{% url 'singleProject' user.id project.id %}"><i class="icon-th"></i> {{ project.title|title }}
					<span class="pull-right">creaated on 						
						{{project.date_of_creation|date:"D d M Y"}}
					</span>
				</a>				
			</li>
			{% endfor %}
		</ul>
		
		<!-- for smart phones and tablets -->
		<ul class="nav nav-stacked nav-tabs hidden-desktop">			
			{% for project in allProjects %}
			<li style="text-align: left; padding: 3px; border-bottom-width: 2px;border-bottom-color:blue">
				<a href = "{% url 'singleProject' user.id project.id %}"><i class="icon-th"></i> {{ project.title|title }}</a>				
			</li>
			{% endfor %}
		</ul>
		
		{% else %}
		<div class = "well emptyProject">
		You have no project at this time.
		</div>
		{% endif %}
		{% else %}
		<div class = "well">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		{% endif%}		
		{% endif %}
		
		
		
		
		
		<!-- own projects -->
		{% if contents == 'ownProjects' %}
		{% if user.activationStatus == 'enable' %}
		{% if allProjects %}
		<p style = "max-width:90%;text-align:justify;margin:auto;color:#1E90FF;">List of all own projects</p>
		<!--  for desktop view -->	
		<ul class="nav nav-stacked nav-tabs visible-desktop">			
			{% for project in allProjects %}
			<li style="text-align: left; padding: 3px; border-bottom-width: 2px;border-bottom-color:blue">
				<a href = "{% url 'singleProject' user.id project.id %}"><i class="icon-th"></i> {{ project.title|title }}
					<span class="pull-right">creaated on 						
						{{project.date_of_creation|date:"D d M Y"}}
					</span>
				</a>				
			</li>
			{% endfor %}
		</ul>
		
		<!-- for smart phones and tablets -->
		<ul class="nav nav-stacked nav-tabs hidden-desktop">			
			{% for project in allProjects %}
			<li style="text-align: left; padding: 3px; border-bottom-width: 2px;border-bottom-color:blue">
				<a href = "{% url 'singleProject' user.id project.id %}"><i class="icon-th"></i> {{ project.title|title }}</a>				
			</li>
			{% endfor %}
		</ul>
		
		{% else %}
		<div class = "well emptyProject">
		You have no project at this time.
		</div>
		{% endif %}	
		{% else %}
		<div class = "well">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		{% endif%}	
		{% endif %}
		
		
		
		
		
		
	<!--	collaborated projects	-->
		{% if contents == 'collaboprojects' %}
		{% if user.activationStatus == 'enable' %}
		{% if  allProjects %}
		<p style = "max-width:90%;text-align:justify;margin:auto;color:#1E90FF;">List of all collaborated projects</p>
		<!--  for desktop view -->	
		<ul class="nav nav-stacked nav-tabs visible-desktop">			
			{% for project in allProjects %}
			<li style="text-align: left; padding: 3px; border-bottom-width: 2px;border-bottom-color:blue">
				<a href = "{% url 'singleProject' user.id project.id %}"><i class="icon-th"></i> {{ project.title|title }}
					<span class="pull-right">creaated on 						
						{{project.date_of_creation|date:"D d M Y"}}
					</span>
				</a>				
			</li>
			{% endfor %}
		</ul>
		
		<!-- for smart phones and tablets -->
		<ul class="nav nav-stacked nav-tabs hidden-desktop">			
			{% for project in allProjects %}
			<li style="text-align: left; padding: 3px; border-bottom-width: 2px;border-bottom-color:blue">
				<a href = "{% url 'singleProject' user.id project.id %}"><i class="icon-th"></i> {{ project.title|title }}</a>				
			</li>
			{% endfor %}
		</ul>	
		{% else %}
		<div class = "well emptyProject">
			<div style = "max-width:98%;margin:auto;">
				You have no project at this time.
			</div>		
		</div>
		{% endif %}
		{% else %}
		<div class = "well">
			<div style = "max-width:98%;margin:auto;">
				<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
			</div>	
		</div>
		{% endif%}	
		{% endif %}
		
		
		
		
		
		
		
		<!--- ---------single project----------------------->
		{% if contents == 'singleproject' %} 
		{% if user.activationStatus == 'enable' %}
		<div class = "row-fluid">
			<!-- details for a given project -->
			
			<!-- for desktop --->
			<div class = "visible-desktop">	
			<div class = "span8">
				<div class = "well">
					<h4>{{ project.title|title }}</h4>
					<p class = "">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>{{ project.description }}</i>
					<p style = "color:#0E556C;font-style:italic;">Project owner : {{projectOwner}}</p>						
					<hr>
					{% if memberList %}
					<h5 style = "text-align:center;">Collaborators in {{project}}</h5>
					<div class = "collaboratorList">
						{% for member in memberList %}
						{{member}}<br>
						{% endfor %}						
					</div>
					{% endif %}
					</p>	
					<span class="pull-right" >
						<i>creaated on </i>{{project.date_of_creation|date:"D d M Y"}}
					</span>				
				</div>				
			</div>
			<!-- for owner of projects -->
			{% if user == project.project_owner %}
			<div class = "span4">
				<ul class="nav nav-list">
					<li class="nav-header"><i class = "icon-wrench">&#160;setting for project</i></li>
					<li><a href= "{% url 'addCollaborator' user.id project.id %}"><i class ="icon-user">&#160;Add new collaborator </i></a></li>
					<li><a href= "{% url 'editProject' user.id project.id %}"><i class ="icon-edit">&#160;Edit project </i></a></li>
					<li><a href= "{% url 'createIssue' user.id project.id %}"><i class ="icon-edit">&#160;Create issue </i></a></li>
					<li><a href= "{% url 'deleteConfirmProject' user.id project.id %}"><i class ="icon-remove">&#160;Delete project </i></a></li>
				</ul>					
			</div>
			{% else %}			
			<!-- for normal user of projects -->
			<div class = "span4">
				<ul class="nav nav-list">
					<li class="nav-header"><i class = "icon-wrench">&#160;setting for project</i></li>					
					<li><a href= "{% url 'createIssue' user.id project.id %}"><i class ="icon-edit">&#160;Create issue </i></a></li>
					<li><a href= "{% url 'deleteColaborationOnProjectConfirmation' user.id project.id %}"><i class ="icon-remove">&#160;Remove collaboration</i></a></li>
				</ul>					
			</div>
			{% endif %}
			</div>
		</div>
		
		<!-- for smart phones and tablets --->
		<div class = "hidden-desktop projectSetting" style = "margin-bottom:5%;max-width:98%;background:#EDEDEF;margin:auto;border-radius:5px;border:1px solid #BFBFBF;text-align:center;" >			
				Setting for the project				
			</div>		
		<div class = "projectSettingDetails">
			<!-- for owner of projects -->
			{% if user == project.project_owner %}
			<div class = "span4">
				<ul class="nav nav-list">
					<li class="nav-header"><i class = "icon-wrench">&#160;setting for project</i></li>
					<li><a href= "{% url 'addCollaborator' user.id project.id %}"><i class ="icon-user">&#160;Add new collaborator </i></a></li>
					<li><a href= "{% url 'editProject' user.id project.id %}"><i class ="icon-edit">&#160;Edit project </i></a></li>
					<li><a href= "{% url 'createIssue' user.id project.id %}"><i class ="icon-edit">&#160;Create issue </i></a></li>
					<li><a href= "{% url 'deleteConfirmProject' user.id project.id %}"><i class ="icon-remove">&#160;Delete project </i></a></li>
				</ul>					
			</div>
			{% else %}			
			<!-- for normal user of projects -->
			<div class = "span4">
				<ul class="nav nav-list">
					<li class="nav-header"><i class = "icon-wrench">&#160;setting for project</i></li>					
					<li><a href= "{% url 'createIssue' user.id project.id %}"><i class ="icon-edit">&#160;Create issue </i></a></li>
					<li><a href= "{% url 'deleteColaborationOnProjectConfirmation' user.id project.id %}"><i class ="icon-remove">&#160;Remove collaboration</i></a></li>
				</ul>					
			</div>
			{% endif %}	
		
		</div>
		
		<div class ="row-fluid hidden-desktop" style = "max-width:98%;margin:auto;margin-top:5%">
			<div class = "well" >
				<h4>{{ project.title|title }}</h4>
				<p class = "">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>{{ project.description }}</i>
				<p style = "color:#0E556C;font-style:italic;">Project owner : {{projectOwner}}</p>						
				<hr>
				{% if memberList %}
				<h5 style = "text-align:center;">Collaborators in {{project}}</h5>
				<div class = "collaboratorList">
					{% for member in memberList %}
					{{member}}<br>
					{% endfor %}						
				</div>
					{% endif %}
					</p>	
					<span class="pull-right" >
						<i>creaated on </i>{{project.date_of_creation|date:"D d M Y"}}
					</span>			
			</div>					
		</div>
		
		{% else %}
		<div class = "well" style = "max-width:90%;margin:auto;">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		
		{% endif%}			
		{% endif %}
		
		
		
		
				
		<!--    craete new project ----->
		{%if contents == 'createPorject' %}
		{% if user.activationStatus == 'enable' %}
		<div style= "text-align:justify; max-width:98%;margin:auto;">
			<div class = "well" >
				<form class="form-horizontal"  method = "POST" action ="{% url 'createProject' user.id %}" onsubmit = "return createProject()">
					{% csrf_token %}
				  <div class="control-group">
					<label class="control-label" for="title of project">Title of project:</label>
					<div class="controls">
					  <input type="text" class = "input-xlarge" name="title" id="titleOfProject" placeholder="Title of project">
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="description">Description of project:</label>
					<div class="controls">
					  <textarea rows="10" class = "input-xlarge" id = "descriptionOfProject" name = "description" placeholder = "What a project is about"></textarea>
					</div>
				  </div>
				  <div class="control-group">				
					<div class="controls">
					  <input type="submit" value = "Create project" >
					</div>
				  </div>
			</div>		
		</div>
		
		{% else %}
		<div class = "well" style = "max-width:90%;margin:auto;">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		{% endif%}
		{% endif %}
		
		
		
		
		
		
		<!-- add addCollaborator in the project -->				
		{%if contents == 'addCollaborator' %}
		{% if user.activationStatus == 'enable' %}
		<div class = "well addCollaborator " style = "max-width:80%;margin:auto;">
			<h5>Add collaborator to : {{project}} project</h5>
			<form class="form-horizontal" action = "{% url 'addCollaborator' user.id project.id %}" method = "POST"  onsubmit ="return addCollaborator()">
				{% csrf_token %}
				<div class="control-group">
					<label class="control-label" for="name of collaborator">Name Of Collaborator </label>
					<div class="controls">
					  <input type ="text" name = "nameOfCollaborator" id = "nameOfCollaborator" placeholder="type name of any user" class = "input-xlarge">					  
					</div>									
				</div>
				<div class = "control-group" >
					<div class="controls">						
					  <input type = "submit"  value = "Add Collaborator" class = "btn">					  
					</div>
				</div>
				
			</form>	
		</div>
		{% else %}
		<div class = "well" style = "max-width:90%;margin:auto;">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		{% endif%}
		{% endif %}
		
		
		
		
		
		<!--    edit exist project ----->
		{%if contents == 'editPorject' %}
		{% if user.activationStatus == 'enable' %}
		<div class = "well" style= "text-align:justify;">
			<form class="form-horizontal"  method = "POST" action ="{% url 'editProject' user.id project.id %}" onsubmit = "return editProject()">
				{% csrf_token %}
			  <div class="control-group">
				<label class="control-label" for="title of project">Title of project:</label>
				<div class="controls">
				  <input type="text" class = "input-xlarge" name="title" id="titleOfProject" value = "{{project.title}}" >
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="description">Description of project:</label>
				<div class="controls">
				  <textarea rows="10" class = "input-xlarge" id = "descriptionOfProject" name = "description" >{{project.description}}</textarea>
				</div>
			  </div>
			  <div class="control-group">				
				<div class="controls">
				  <input type="submit" value = "Edit project" >
				</div>
			  </div>
		</div>
		{% else %}
		<div class = "well">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		{% endif%}
		{% endif %}
		
		
		
		
		
		<!-- ----------- issues -------- ----->		
		
		<!-- all issues -->
		{% if contents == 'allIssues' %} 
		{% if user.activationStatus == 'enable' %}
		<!-- desktop views -->
		<div class = "well emptyIssues visible-desktop">
			{% if allIssues %}
			<table class="table table-striped">
				<thead>
					<th>Title</th>
					<th>disc</th>
					<th>priority</th>
					<th>type</th>														
				</thead>
				<tbody>
					{% for issue in allIssues %}					
					<tr>												
					<td>			
						<a href = "{% url 'singleIssue' user.id issue.id %}">#&nbsp;&nbsp;{{issue}}</a>						
					</td>
					<td>
						{{issue.description}}
					</td>
					<td>
						{{issue.priority}}
					</td>
					<td>
						{{issue.type_of_issue}}
					</td>											
					</tr>
					{% endfor %}									
				</tbody>
			</table>
			{% else%}
			<div >
				You have no issue this time			
			</div>	
			{% endif %}			
		</div>
		<!-- smart and tablets -->
		<div class = "well emptyIssues hidden-desktop" style = "max-width:80%;margin:auto;">
			{% if allIssues %}
			<table class="table table-striped" >
				<thead>
					<th>Title</th>					
					<th>priority</th>																		
				</thead>
				<tbody>
					{% for issue in allIssues %}					
					<tr>												
					<td>			
						<a href = "{% url 'singleIssue' user.id issue.id %}">#&nbsp;&nbsp;{{issue}}</a>						
					</td>					
					<td>
						{{issue.priority}}
					</td>																
					</tr>
					{% endfor %}									
				</tbody>
			</table>
			{% else%}
			<div >
				You have no issue this time			
			</div>	
			{% endif %}			
		</div>
		{% else %}
		<div class = "well" style = "max-width:90%;margin:auto;">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		{% endif%}						
		{% endif %}
		
		
		
		
		
		
		<!--assigned issues -->
		{% if contents == 'assignedIssues' %}
		{% if user.activationStatus == 'enable' %}
		<!--desktop view--->
		<div class = "well emptyIssues visible-desktop">
			{% if assignedIssues %}
			<table class="table table-striped">
				<thead>
					<th>Title</th>
					<th>disc</th>
					<th>priority</th>
					<th>type</th>				
				</thead>
				<tbody>					
					{% for issue in assignedIssues %}					
					<tr>												
					<td>			
						<a href = "{% url 'singleIssue' user.id issue.id %}">#&nbsp;&nbsp;{{issue}}</a>								
					</td>
					<td>
						{{issue.description}}
					</td>
					<td>
						{{issue.priority}}
					</td>
					<td>
						{{issue.type_of_issue}}
					</td>						
					</tr>
					</ol>	
					{% endfor %}

				</tbody>
			</table>
			{% else%}
			<div >
				You have no issue this time			
			</div>	
			{% endif %}				
		</div>
		<!--smart phone and tablets---->
		<div class = "well emptyIssues hidden-desktop">
			{% if assignedIssues %}
			<table class="table table-striped">
				<thead>
					<th>Title</th>
					<th>priority</th>				
				</thead>
				<tbody>					
					{% for issue in assignedIssues %}					
					<tr>												
					<td>			
						<a href = "{% url 'singleIssue' user.id issue.id %}">#&nbsp;&nbsp;{{issue}}</a>								
					</td>
					<td>
						{{issue.priority}}
					</td>											
					</tr>
					</ol>	
					{% endfor %}
													
				</tbody>
			</table>
			{% else%}			
			<div style = "max-width:90%;margin:auto;">
				You have no issue this time			
			</div>	
			{% endif %}				
		</div>
		{% else %}
		<div class = "well" style = "max-width:90%;margin:auto;">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		{% endif%}					
		{% endif %}
		
		
		
		
		
		
		<!-- assign to issues -->
		{% if contents == 'assignToIssues' %}
		{% if user.activationStatus == 'enable' %}
		<!-- desktop view -->
		<div class = "well emptyIssues visible-desktop">
			{% if assignToIssues %}
			<table class="table table-striped">
				<thead>
					<th>Title</th>
					<th>disc</th>
					<th>priority</th>
					<th>type</th>				
				</thead>
				<tbody>
					<tr>
						{% for issue in assignToIssues %}
					<tr>												
					<td>			
						<a href = "{% url 'singleIssue' user.id issue.id %}">#&nbsp;&nbsp;{{issue}}</a>								
					</td>
					<td>
						{{issue.description}}
					</td>
					<td>
						{{issue.priority}}
					</td>
					<td>
						{{issue.type_of_issue}}
					</td>						
					</tr>
					</ol>	
					{% endfor %}
					</tr>									
				</tbody>
			</table>
			{% else%}
			<div >
				You have no issue this time			
			</div>	
			{% endif %}				
		</div>	
		
		<!--  smart phones and tablets---->
		<div class = "well emptyIssues hidden-desktop">
			{% if assignToIssues %}
			<table class="table table-striped">
				<thead>
					<th>Title</th>
					<th>priority</th>				
				</thead>
				<tbody>
					<tr>
						{% for issue in assignToIssues %}
					<tr>												
					<td>			
						<a href = "{% url 'singleIssue' user.id issue.id %}">#&nbsp;&nbsp;{{issue}}</a>								
					</td>
					<td>
						{{issue.priority}}
					</td>						
					</tr>
					</ol>	
					{% endfor %}
					</tr>									
				</tbody>
			</table>
			{% else%}
			<div style = "max-width:90%;margin:auto;">
				You have no issue this time			
			</div>	
			{% endif %}				
		</div>	
		{% else %}
		<div class = "well" style = "max-width:90%;margin:auto;">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		{% endif%}		
		{% endif %}
		
		
		
		
		
		
		<!----- craete and assign issue to user -->
		{% if contents == 'createIssue' %}
		{% if user.activationStatus == 'enable' %}
		<div class = "well" style = "max-width:80%;">
			<p style = "text-align:center;">Fill the folowing fields to create and assign new issue to a user</p>
			<hr>			
			<form class="form-horizontal"  method = "POST" action ="{% url 'createIssue' user.id project.id %}" onsubmit = "return createNewIssue()" >
					{% csrf_token %}
				  <div class="control-group">
					<label class="control-label" for="title of issue">Title of Issue:</label>
					<div class="controls">
					  <input type="text" class = "input-large" name="title" id="titleOfIssue" placeholder = "type type of your issue" >
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="description">Description of issue:</label>
					<div class="controls">
					  <textarea rows="5"  id = "descriptionOfProject" name = "description" placeholder = "What a project is about"></textarea>
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="name of assignee">Name of Assignee:</label>					
					  <div class="controls">
						<select name="assignee">
							{% for member in memberList %} 
							<option   value="{{member}}" name="assignee">{{member}}</option>
							{% endfor %}	
						</select>					
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="priority of issue">Priority of Issue:</label>
					<div class="controls">
						<select name="priority">
							<option value="critical" name="priority">critical</option>
							<option value="blocked" name="priority">blocked</option>
							<option value="minor" name="priority">minor</option>
							<option value="major" name="priority">major</option>	
							<option value="trivial" name="priority">trivial</option>
						</select>					  
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="type of issue">Type of Issue:</label>
					<div class="controls">
						<select name="type">
							<option value="bug" name="type">bug</option>
							<option value="enhancement" name="type">enhancement</option>
							<option value="proposal" name="type">proposal</option>
							<option value="task" name="type">task</option>
						</select>					  
					</div>
				  </div>
				  <div class="control-group">
					<div class="controls">
					  <input type="submit" value = "Create issue">
					</div>
				  </div>				  
			</form>
		</div>
		{% else %}
		<div class = "well">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		{% endif%}
		{% endif %}
		
		
		
		
		
		<!--    single issue view ---->
		{% if contents == 'singleissue' %} 
		{% if user.activationStatus == 'enable' %}
		<!--- -- for smart phones and tablests on status and status logs----->
		<div class = "hidden-desktop status" style = "margin-bottom:5%;max-width:98%;background:#EDEDEF;margin:auto;border-radius:5px;border:1px solid #BFBFBF;text-align:center;" >			
			Status changes and status logs	
		</div>	
		<div class = "statusLogs" >
			<div class = " well" style = "max-width:85%;margin:auto;margin-bottom:5% margin-top:10%" >
				<!-- status changes on issue -->
				<div class = "">
					<h5><i>Change status to</i></h5>
					<button class="btn btn-primary" onclick="window.location.href='{% url 'closeIssue' user.id issue.id %}'" >Close</button>						
					<button class="btn btn-success" onclick="window.location.href='{% url 'reopenIssue' user.id issue.id %}'">Reopen</button> {{numberOfStatus}}
				</div>
				<hr>
				<h5 style= "text-align:center;">Status change log</h5>
				<div class = "statusLog">
					{% for status in status_log %}
					<p>
						Status changed to <i style = "color:#E11A1A;">{{status.status}}</i><br>
						on <i style = "color:#256EB5;">{{status.date_of_change_status}}</i><br>
						by <i style = "color:#256EB5;">{{status.status_changer}}</i>
					</p>
					<hr>
					{% endfor %}					
				</div>				
			</div>
		</div>
		
		
		<div class = "row-fluid" style = "margin-top:3%;">
			<!-- details and comments for a given issue -->	
			
					
			<div class = "span8">
				<div class = "well ">
					<!-- deatails for a given issue-- issueAssignee-->
					<h4><u>{{ issue.title|title }}</u></h4>
					<p>&nbsp;&nbsp;{{ issue.description }}<br>
					<span class="pull-left" style = "color:#1E90FF;">
						<i>creaated by </i>{{ issue.assigner }}
					</span>						
					<br>
					Total commets : <i style = "color:#1E90FF;">{{commentsTotal}}</i>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type of Issue : <i style = "color:#1E90FF;">{{ issue.type_of_issue }}</i>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; priority : <i style = "color:#1E90FF;">{{ issue.priority }}</i></p>
					<hr> 
						<!-- comments on a issue --->				
					<div class = "comments">
						{% for comment in comments %}
						<div>
							<p>{{comment.description}}<br>					 
								<span class="pull-right" style = "color:#1E90FF;">									
									<i>commented by </i>{{ comment.commenter }}
								</span>
							</p>
						</div><hr> 													
						{% endfor %}				
					</div>	
					<hr>
					<form class="form-inline"  action ="{% url 'commentOnIssue' user.id issue.id %}" method = "POST" onsubmit = "return commentValidation()" >
						{% csrf_token %}
						<textarea rows="5" id = "comments" name = "comments" placeholder = "Your comments on {{issue}}"></textarea>
						<input type="submit" value = "Comment " class = "btn">
					</form>		
				</div>			
			</div>
			<!-- status details for a given issue for desktop-->
			<div class = "span4 visible-desktop" >
				<div class = " well">
					<!-- status changes on issue -->
					<div class = "">
						<h5><i>Change status to</i></h5>
						<button class="btn btn-primary" onclick="window.location.href='{% url 'closeIssue' user.id issue.id %}'" >Close</button>						
						<button class="btn btn-success" onclick="window.location.href='{% url 'reopenIssue' user.id issue.id %}'">Reopen</button> {{numberOfStatus}}
					</div>
					<hr>
					<h5 style= "text-align:center;">Status change log</h5>
					<div class = "statusLog">
						{% for status in status_log %}
						<p>
							Status changed to <i style = "color:#E11A1A;">{{status.status}}</i><br>
							on <i style = "color:#256EB5;">{{status.date_of_change_status}}</i><br>
							by <i style = "color:#256EB5;">{{status.status_changer}}</i>
						</p>
						<hr>
						{% endfor %}					
					</div>				
				</div>
			</div>
		</div>
		{% else %}
		<div class = "well">
			<p>Currently your account have not yet being activate.<br>To activate your account <a href = "{% url 'acctivationAccount' user.id %}">click here</a></p>
		</div>
		{% endif%}
		{% endif %}
		
		
		
		
		
		<!-- view profile ----->
		{%if contents == 'viewProfile' %}
		<div class = "profile">
			<h5>Account Profile's details</h5>
			<table class = "table table-hover"> 
				<thead></thead>
				<tbody>
					<tr>
						<td>Your name </td>
						<td>{{user.name}}</td>
					</tr>
					<tr>
						<td>Your e-mail </td>
						<td>{{user.e_mail}}</td>
					</tr>
					<tr>
						<td>Your Mobile Number </td>
						<td>{{user.mobile_number}}</td>
					</tr>
					<tr>
						<td>Your password </td>
						<td>{{user.password}}</td>
					</tr>
					<tr>
						<td>Your account activation status</td>
						<td>{{user.activationStatus}}</td>
					</tr>
					<tr>
						<td>Your account was craeted on </td>
						<td>{{user.entry_date}}</td>
					</tr>				
				</tbody>
			</table>			
		</div>
		{% endif %}
		
		
		
		
		
		
		<!-- edit profile -->
		{%if contents == 'editProfile' %}
		<div class = "well" style = "max-width:90%;margin:auto;">
			<p>
				<i>Please edit information you want to edit</i>
			</p>
			<form class="form-horizontal"  method = "POST" action="{% url 'editProfile' user.id %}" name = "myform" onsubmit ="return editProfile()">
				{% csrf_token %}				
				
				<div class="control-group">
					<label class="control-label" for="first name">First name </label>	
					<div class="controls">
						<input type="text" name="firstName"  class = "required" value = "{{userName}}">
					</div>			
				</div>

				<div class="control-group">
					<label class="control-label" for="middle name">Middle name </label>	
					<div class="controls">
						<input type="text" name="middleName" placeholder = "Middle name" value = "{{middleName}}">
					</div>			
				</div>

				<div class="control-group">
					<label class="control-label" for="last name">Last name </label>	
					<div class="controls">
						<input type="text"  name="lastName" value = "{{lastName}}" class = "required">
					</div>			
				</div>		
				
				<div class="control-group">
					<label class="control-label" for="password">Password </label>	
					<div class="controls">
						<input type="password" name="password" placeholder="password" class = "required" value = "{{user.password}}">
					</div>			
				</div>			

				<div class="control-group">
					<label class="control-label" for="mobile number">Mobile number </label>	
					<div class="controls">
						<input type="text" name="mobileNumber" placeholder="+255 687 168 637" value = "{{user.mobile_number}}">
					</div>			
				</div>

				<div class="control-group">
					<div class="controls">
						<input type="submit" value = "edit Profile " class = "btn" >
					</div>			
				</div>				

			</form>			
		</div>
		{% endif %}
		
	</div>
	
	</div>	
		


{% endblock %}
